name: Deploy ETL Lambda and ECR

on:
    push:
        branches:
            - main
permissions:
    id-token: write
    contents: read

jobs:
    build_ecr:
        runs-on: ubuntu-latest
        env:
            AWS_DEFAULT_REGION: us-east-1
        outputs:
          image_tag: ${{ steps.set_image_tag.image_tag }}
          image_uri: ${{ steps.get_image_uri.image_uri }}
        defaults:
            run:
              shell: bash

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                terraform_version: 1.10.0

            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                role-to-assume: ${{ secrets.AWS_OIDC_ARN }}
                role-session-name: GitHub_to_AWS_via_FederatedOIDC
                aws-region: ${{ env.AWS_DEFAULT_REGION }}

            - name: Set Image Target
              id: set_image_tag
              run: |
                  IMAGE_TAG=$(echo $GITHUB_SHA | cut -c1-7)
                  echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV
                  echo "image_tag=$IMAGE_TAG" >> $GITHUB_OUTPUT

            - name: Terraform ECR Init
              run: |
                  cd ecr-module &&
                  terraform init

            - name: Terraform ECR Apply
              run: |
                  cd ecr-module &&
                  terraform apply -auto-approve

            - name: GET ECR IMAGE URI
              id: get_image_uri
              run: |
                  IMAGE_URI=$(cd ecr-module && terraform output -raw ecr_repository_url)
                  echo "IMAGE_URI=$IMAGE_URI" >> $GITHUB_ENV
                  echo "image_uri=$IMAGE_URI" >> $GITHUB_OUTPUT

            - name: SET REGISTRY URI
              id: set_registry_uri
              run: |
                  REGISTRY_URI=$(echo $IMAGE_URI | cut -d '/' -f1)
                  echo "REGISTRY_URI=$REGISTRY_URI" >> $GITHUB_ENV

            - name: Build Docker Image
              run: docker build -t $IMAGE_URI:$IMAGE_TAG .

            - name: Push Docker Image
              run: |
                  aws ecr get-login-password --region $AWS_DEFAULT_REGION | docker login --username AWS --password-stdin $REGISTRY_URI
                  docker push $IMAGE_URI:$IMAGE_TAG

    launch-lambda-aws:
        runs-on: ubuntu-latest
        needs: build_ecr
        env:
          AWS_DEFAULT_REGION: us-east-1
          IMAGE_TAG: ${{ needs.build_ecr.outputs.image_tag }}
          IMAGE_URI: ${{ needs.build_ecr.outputs.image_uri }}

        defaults:
          run:
            shell: bash

        steps:
          - name: Checkout Code
            uses: actions/checkout@v4

          - name: Setup Terraform
            uses: hashicorp/setup-terraform@v3
            with:
              terraform_version: 1.10.0

          - name: Configure AWS Credentials
            uses: aws-actions/configure-aws-credentials@v4
            with:
              role-to-assume: ${{ secrets.AWS_OIDC_ARN }}
              role-session-name: GitHub_to_AWS_via_FederatedOIDC
              aws-region: ${{ env.AWS_DEFAULT_REGION }}

          - name: Terraform Lambda Init
            run: |
                cd infra &&
                terraform init

          - name: Terraform Lambda Plan
            run: |
                cd infra &&
                terraform plan \
                  -var="ecr_repository_url=$IMAGE_URI" \
                  -var="image_tag=$IMAGE_TAG"

          - name: Terraform Lambda Apply
            run: |
                cd infra &&
                terraform apply \
                  -var="ecr_repository_url=$IMAGE_URI" \
                  -var="image_tag=$IMAGE_TAG"
